body {
  font-family: "Playfair Display", serif;
}

.item {
  font-size: 14px;
  line-height: 19px;
  color: #7d7d7d;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
}
.item:hover {
  color: #03a9f4;
}

.header {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 90px;
}

.card {
  width: 420px;
}
.card-subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #b4ad9e;
  text-transform: uppercase;
  margin-top: 62px;
}
.card-title {
  font-size: 30px;
  line-height: 40px;
  color: #626262;
  margin-top: 32px;
  font-weight: 400;
}

.card-text {
  font-size: 14px;
  line-height: 19px;
  color: #626262;
  margin-top: 40px;
}
.cards-grit {
  display: flex;
  flex-wrap: wrap;
  max-width: 910px;
  margin: 0 auto;
  justify-content: space-between;
  row-gap: 130px;
}
.btn {
  font: inherit;
  background-color: transparent;
  border: 2px solid #626262;
  width: 165px;
  height: 60px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 66px;
  display: block;
  cursor: pointer; 
} 

.btn:hover {
  background-color: #626262;
  color: #fff;
}